*{
    margin: 0%;
    padding: 0%;
    background-color: aliceblue;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container
{                      
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
   background-color: gray;
   padding: 15px;
   box-shadow: inset 5px 5px 12px gray,
                      5px 5px 12px rgba(0,0,0,0.7);
   box-sizing: border-box;
   border: none;
   border-radius: 30px;
   display: grid;
   grid-template-columns: repeat(4,70px);                   
}
input{
    height: 60px;
    width: 260px;
    grid-column: span 4;
    box-shadow: inset 5px 5px 12px grey
                inset -5px -5px 12px rgba(0,0,0,0.7);
    background-color: lightgreen;
    border: none;
    border-radius: 40px;
    margin: auto;
    text-align: end;
    font-size: 50px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}
button{
    height: 48px;
    width: 48px;
    margin: 8px;
    border-radius: 30px;
    background-color: gray;
    box-shadow: inset 5px 5px 12px grey,
                inset -5px -5px 12px rgba(0,0,0,0.7);
    border: none;
    font-size: large; 
    font-weight: bolder;
}
.equal{
    width: 118px;
    border-radius: 40px;
}
p{
    background-color: gray;
}
input::placeholder{
    color:black;
}